use nix -p chicken chickenPackages_5.chickenEggs.apropos chickenPackages_5.chickenEggs.chicken-doc chickenPackages_5.chickenEggs.lsp-server chickenPackages_5.chickenEggs.srfi-1 chickenPackages_5.chickenEggs.srfi-18
